// IMPORT
@import 'variables';
@font-face {
    font-family: "wayfarers-toy-box";
    src: url(../../assets/wayfarers-toy-box.ttf);
}

// BACKGROUND
body {
    background-image: $background;
    max-width: 1000px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin: auto;}

// COLOURS & FONT
#title          {font: normal 500 35px "wayfarers-toy-box"; color: $c_title;}
#subtitle       {font-size: 18px; background: $c_window-title-gradient; color: $c_title; border: 4px outset $c_window-title-border;}
#webring        {background: $c_window-bg;}
#footer         {font: normal 600 12px monospace;}
.window-title   {font-size: 18px; background: $c_window-title-gradient; color: $c_title; border: 4px outset $c_window-title-border;}
.window         {background: $c_window-bg; border-top: 1px dotted $c_window-border;}
h3, p, ul           {color: $c_text;}
a {
    &:link {color: $c_link;}
    &:visited {color: $c_link-visited;}
    &:hover {color: $c_link-hover;}
    &:active {color: $c_link-active;}}

// BODY POSITIONING
#title {
    order: 1;
    @include center;
    margin: 25px 0px 10px 0px;}
@media only screen and (max-width: $compact) {
    #title {
        order: 2;
        margin: 10px 0px 25px 0px;}}

#subtitle {
    order: 2;
    @include center;
    margin:10px 5px;
    }
@media only screen and (max-width: $compact) {
    #subtitle {
        order: 1;
        margin:0px 0px 10px 0px;}}

#content { // Width of page content
    order: 3;
    @include columns;
    & p {
        margin: 0px;}}

#body { // Body size
    min-width: 400px;
    flex: 75%;}

#side { // Sidebar size
    min-width: 150px;
    flex: 20%;
    display: flex;
    flex-flow: column;
    & .window-side:last-child {
        display: flex;
        flex-flow: column;
        height: 100%;
        & div:last-child{
            height: 100%;}}}

#side, #body { // Column margin size
    margin: 0px 5px;}

.window {
    padding: 5px 10px;
    margin-bottom: 10px;}

.column-window {
    @include columns;
    justify-content: space-between;}

.centered-window, #footer, .spacer { // Misc centered text
    @include center;}

#links {
    @include center;
    & a {
        &:first-child::before {
            content: none;}
        &::before {
            @include horizontal-links;
            color: $c_text;}}}

#nav { // Nav list
    & ul {
        padding: 0px 10px 0px 10px;
        margin: 0px;
        color: $c_text;
        & ul {
            padding-left: 15px;}}
    & li::marker {
        content: "> ";}}
@media only screen and (max-width: $compact) { // Nav list when squished
    #side {
    order: -1;
    & #nav ul {
        display: flex;
        justify-content: center;
        & li {
            &:first-child::before {
                content: none;}
            &::before {
                @include horizontal-links;}
            &::marker {
                content: none;}}}}
    #side #nav ul ul {
        display: none;}}

// Webring
component-webring {
    order: 4;
    & #webring {
        display: flex;
        justify-content: center;
        margin: 0px 5px;
        & a, p {
            padding: 4px;
            margin: 0px 7px;
            &:first-child::before {
                content: none;}
            &::before {
                content: none;}}}}

#footer {
    order: 5;}

p { // Generic paragraph
    padding: 4px 0px;}

li p {
    padding: 0px 0px 4px 15px;}

h3 { // Subtitles and window titles
    @include center;
    display: grid;
    grid-template-areas: "icon subtitle window-title";
    margin: 0px;
    padding: 2px 26px 2px 2px;
    & img { // Subtitle and window title icons
        width: 24px;
    }}
