@mixin center {
    text-align: center;
}
@mixin horizontal-links {
    content: "|";
    padding: 0px 7px 0px 7px;
}
@mixin columns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
$background: url("../../assets/bg_stars.gif");

$compact: 679px;

// Text Colours
$c_title: white;
$c_text: white;
$c_window-title-gradient: linear-gradient(180deg, rgb(159, 106, 194) 0%, rgb(170, 122, 202) 50%);
$c_window-title: rgb(163,109,199);
$c_window-title-border: rgb(187, 142, 194);
$c_window-bg: #11111b;
$c_window-border: #6c7086;

$c_link: #f9e2af;
$c_link-visited: #e64553;
$c_link-hover: #fab387;
$c_link-active: #f38ba8 ;